.container{
    width: 1920px;
}
.nav_elements{
    background-color: #2ACAEA;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.nav_menu{
    width: 100px;
   list-style-type:none; 
   display: flex;
   justify-content: space-between;
   font-weight: bold;
}
.navigation{
    padding-right: 100px;
}